<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<style>
		.vanish{
		  visibility: hidden;
		}

	</style>
<body ng-app="app">
  <div ng-controller = "mocontroller">
  
    <button ng-click= "clicktoshow()"> Hay squirrel </button>
    <p ng-show = "showing"  class="bigsquirrel"> squirrel peeps out of the hole  <button ng-click="hidethis()"> go hide </button>
    </p>
    <br>

    Search City: <input ng-model="searchterm">
    <div ng-repeat = "city in cities | filter:searchterm | orderBy:'name'">
    {{city.name}}
    </div>
      
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"> </script>

  <script>

  var angu = angular.module('app', []);
  angu.controller('mocontroller', function($scope, $document){

  $scope.clicktoshow = function(){
    $scope.showing = true;
    var gotdome =  angular.element($document[0].getElementsByClassName('bigsquirrel'))
    gotdome.removeClass('vanish');
  }


 $scope.hidethis = function(){
   var gotdomelement =  angular.element($document[0].getElementsByClassName(' bigsquirrel'))
    gotdomelement.addClass('vanish')
  }


  $scope.cities= [{ 'name': 'New Delhi'},
                { 'name': 'Londan'},
                { 'name': 'New York'},
                { 'name': 'Paris'},
                { 'name': 'Tokyo' },
                { 'name': 'Munic'},
                { 'name': 'Bangkok'},
                { 'name': 'Beijing'},
                { 'name': 'Shanghai'},
                { 'name': 'Los Angeles'}];

})

  </script>